<div class="container-fluid">
<ol class="breadcrumb col-md-6">
  <li><%= link_to Server, servers_path %></li>
  <li><%= link_to "Istanza", server_instances_path %></li>
  <li class="active"><%= title %></li>
</ol>
</div>
