<div class="container-fluid">
<div class="col-md-12">
  <div class="col-md-6">
    <%= render 'search_server' %>
  </div>
  <div class="col-md-2">
    <%= render 'per_page_server' %>
  </div>
  <div class="col-md-offset-1">
    <%= unless @instances.nil?; paginate @instances; end %>
  </div>
</div>
</div>
