<div class="parallax"></div>
<div class="container-fluid-list">
<div style="height:800px;">
  <div class="container-fluid">
    <div id="col-md-12">
        <div>
          <h2>Benvenuto nella pagina di accesso alla gestione delle infrastrutture delle Applicazioni: <b>WebDev</b>.</br>
          <small>WebDev è un'applicazione interna di Lombardia Informatica che permette il controllo dello stato delle instanze di infrastruttura.
          </small></h2>
        </div>
        <div>
          <h2>Accesso al sistema</br>
          <small>Per accedere a WebDev è necessario essere registrati all'applicazione.
          </small></h2>
        </div>
        <div>
          <h2>Cerca</br>
          <small>La funzione <b>Cerca</b> è sempre disponibile senza effettuare l'accesso.</small></h2>
        </div>
    </div>
  </div>
</div>
</div>
<div class="parallax"></div>
